html {
    font-family: arial, sans-serif;
    background: #EBEFF9;
    font-size: 16px;
}

header {
    color: #3d5d6a;
    padding-bottom: 1em;
    padding-top: 1em;
    background: url(../icons/lock_48.png) no-repeat 1em;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 30px;
}

#promo {
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-style: italic;
}

body {
    background-color: #fff;
    border: 3px solid #bec9ce;
    border-radius: 20px;
    padding: 30px 30px 50px 30px;
    margin: 40px auto 20px auto;
    width: 600px;
}