#notify-container {
    position: fixed;
    width: 100%;
    padding: 7px 0;
    top: 0;
    left: 0;
    color: #735005;
    background: #F4A83D;
    border-bottom: 1px solid #D6800C;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    z-index: 999999;
}

#notify-container a {
    text-decoration: underline;
    color: #735005;
}

#notify-container span.notify-close {
    background-color: #FAD163;
    float: right;
    margin-right: 20px;
    border: 2px solid #735005;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 100%;
}

#notify-container span.notify-close a {
    text-decoration: none;
}

